.text-justify {
  text-align: justify;
}

.qlinks {
  cursor: pointer;
}

.qlinks:hover {
  color: #fff !important;
}

.custom-text-color1 {
  color: #e01250;
}

.headerLogoutBtn:hover {
  color: crimson !important;
}

.headerLogoutBtn2:hover {
  color: #fff !important;
}
